<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var \ContactUs\Form\ContactUsForm $form
 * @var string $heading
 * @var string $html
 * @var string $message
 * @var string $status "success" or "error"
 * @var string $contact "us" or "author"
 */

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');

$formRow = $plugins->get('formRow');
$formLabel = $plugins->get('formLabel');
$formHidden = $plugins->get('formHidden');
?>

<div class="contact-us-block">
    <?php if (!empty($heading)): ?>
    <h1><?= $escape($heading) ?></h1>
    <?php endif; ?>

    <?= @$html ?>

    <?php if ($message): ?>
    <p class="explanation <?= $status ?>"><?= $message ?></p>
    <?php endif; ?>

    <?php if ($form):
        $form->get('name')
            ->setLabel('Prénom Nom')
            ->setAttribute('placeholder', 'Jean Dupont');
        $form->get('from')
            // ->setLabel('Mail' . ' <span class="required">*</span>')->setLabelOptions(['disable_html_escape' => true])
            ->setLabel('Mail')
            ->setAttribute('placeholder', 'jean@dupont.fr');
        $form->get('message')
            ->setLabel('Votre message');
        $form->get('submit')
            ->setValue('Envoyer');
        $user = $this->identity();
        ?>

        <?= $this->form()->openTag($form) ?>

        <?php if ($user): ?>
        <div class="contact-name-email-fields">
            <p>
                <?= $escape(sprintf($translate('Message de %s (%s)'), $user->getName(), $user->getEmail())) ?>
            </p>
        </div>
        <?php else: ?>
        <div class="contact-name-email-fields">
            <div>
                <?= $formRow($form->get('name')) ?>
            </div>
            <div>
                <?= $formLabel($form->get('from')) ?> <span class="required">*</span>
                <?= $this->formEmail($form->get('from')) ?>
            </div>
        </div>
        <?php endif ?>

        <div class="contact-message-fields">
            <?= $formLabel($form->get('message')) ?> <span class="required">*</span>
            <?= $this->formTextarea($form->get('message')) ?>
        </div>

        <p class="contact-warning">
        </p>

        <?php if ($form->has('consent')): ?>
        <?php if ($user): ?>
            <?= $formHidden($form->get('consent')) ?>
        <?php else: ?>
        <label class="contact-accept-checkbox">
            <?= $this->formCheckbox($form->get('consent')) ?>
            <span><?= $formLabel($form->get('consent')) ?></span>
        </label>
        <?php endif; ?>
        <?php endif; ?>

        <?php if ($form->has('answer')): ?>
        <p>
        <label class="contact-antispam">
            <?= $this->formLabel($form->get('answer')) ?> <span class="required">*</span>
            <?= $this->formElement($form->get('answer')) ?>
            <?= $this->formElement($form->get('check')) ?>
        </label>
        </p>
        <?php endif; ?>

        <?php if ($form->has('newsletter')): ?>
        <label class="contact-accept-checkbox">
            <?= $this->formCheckbox($form->get('newsletter')) ?>
            <span><?= $formLabel($form->get('newsletter')) ?></span>
        </label>
        <?php endif; ?>

        <div class="contact-buttons">
            <?= $formRow($form->get('submit')) ?>
        </div>

        <?= $formRow($form->get('csrf')) ?>
        <?= $this->form()->closeTag() ?>

    <?php endif; ?>

</div>
