<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var array $values
 * @var array $templateProperties
 *
 * Options:
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var bool $onlyPublic
 * @var string $block The type of the block: "short".
 */

// Le html utilise des <li>: <ul> doit être inclus lors de l'appel.

$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');

// $labelInfo = $this->status()->isSiteRequest() ? $this->siteSetting('property_label_information') : $this->setting('property_label_information');
$labelInfo = $this->setting('property_label_information');
$isItem = $resource instanceof \Omeka\Api\Representation\ItemRepresentation;
$itemSets = null;

// Suppression de toutes les valeurs privées, même quand on est connecté, et
// suppression des valeurs vides.
if (!empty($onlyPublic)) {
    foreach ($values as $term => $propertyData) {
        foreach ($propertyData['values'] as $key => $value) {
            if (!$value->isPublic()) {
                unset($values[$term]['values'][$key]);
            }
        }
        if (empty($propertyData['values'])) {
            unset($values[$term]);
        }
    }
}

if (empty($block)) {
    $block = null;
} elseif ($block === 'short') {
    // Filtre et tri les propriétés (prise en compte du module AdvancedResourceTemplate).
    $shortRecord = $themeSetting('item_show_short_record', [
        'dcterms:title',
        'dcterms:creator',
        'dcterms:date',
        // Inclure les collections après la source.
        'item_sets',
        'dcterms:source',
        'dcterms:identifier',
        // Modèles spécifiques.
        'foaf:name',
        'bio:birth',
        'bio:death',
    ]);
    $newValues = [];
    foreach ($shortRecord as $meta) {
        // Insère la collection seulement pour les items.
        if ($isItem && $meta === 'item_sets') {
            $itemSets = $resource->itemSets();
            if (count($itemSets)) {
                $newValues['item_sets'] = $itemSets;
            }
            continue;
        }
        $mainMeta = strtok($meta, '/');
        if ($mainMeta === $meta) {
            foreach ($values as $term => $propertyData) {
                $mainTerm = strtok($term, '/');
                if ($mainTerm === $meta) {
                    $newValues[$meta] = $propertyData;
                }
            }
        } elseif (isset($values[$meta])) {
            $newValues[$meta] = $propertyData;
        }
    }
    $values = $newValues;
}

$linkables = $themeSetting('resource_link_search', []);
$linkableLinkOrSearch = $themeSetting('resource_link_or_search', []);
// Les liens externes sont automatiques.
// $linkablesExternal = $themeSetting('resource_link_external');

foreach ($values as $term => $propertyData):
    if ($term === 'item_sets') {
        if (!$isItem) {
            continue;
        }
        if (is_null($itemSets)) {
            $itemSets = $resource->itemSets();
        }
        if (!count($itemSets)) {
            continue;
        }
        $label = $translate('Collection');
        $labelTerm = $labelInfo === 'term' ? 'o:item_set' : ($labelInfo === 'vocab' ? 'Omeka' : null);
        $propertyData = [
            'values' => $itemSets,
        ];
    } else {
        $label = $propertyData['alternate_label'] ?: $translate($propertyData['property']->label());
        $labelTerm = $labelInfo === 'term' ? $propertyData['property']->term() : ($labelInfo === 'vocab' ? $propertyData['property']->vocabulary()->label() : null);
    }

    $valueList = [];
    foreach ($propertyData['values'] as $value) {
        if ($term === 'item_sets') {
            /** @var \Omeka\Api\Representation\ItemSetRepresentation $value*/
            $val = [
                'v' => null,
                'class' => 'resource item_sets' . ($value->isPublic() ? '' : ' private'),
                'lang' => null,
                'value' => null,
                'url' => null,
                'link' => $value->link($value->displayTitle()),
                'uri' => null,
            ];
        } else {
            $val = $themeFunctions->simpleValueForTerm($value, $term, in_array($term, $linkableLinkOrSearch) ? ($value->uri() ? [] : [$term]) : $linkables);
            $val['uri'] = $value->uri();
        }
        $valueList[] = $val;
    }
    ?>
    <li class="property">
        <div class="item-show-metadata-term"<?php if ($labelTerm): ?> title="<?= $escapeAttr($labelTerm) ?>"<?php endif; ?>><?= $escape($label) ?></div>
        <div class="item-show-metadata-term-value">
            <ul>
                <?php foreach ($valueList as $value): ?>
                <li class="<?= $value['class'] ?>"<?php if ($value['lang']): ?> lang="<?= $escapeAttr($value['lang']) ?>"<?php endif; ?>>
                    <?= $value['link'] ?? $value['value'] ?>
                    <?php if ($uri = $value['uri']): ?>
                    <?php if (strpos($uri, 'https://www.idref.fr/') === 0): ?>
                    <?= sprintf('<a href="%s" class="idref-link" target="_blank"></a>', $escapeAttr($value['uri'])) ?>
                    <?php elseif (in_array($term, $linkableLinkOrSearch)): ?>
                    <?= sprintf('<a href="%s" class="uri-value-link" target="_blank"></a>', $escapeAttr($value['uri'])) ?>
                    <?php endif; ?>
                    <?php endif; ?>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>
    </li>
<?php endforeach;
