<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \Omeka\Api\Representation\ItemRepresentation[] $resources
 * @var string $resourceType
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');

if (empty($site)) $site = $themeFunctions->currentSite();
?>

<?php
if (count($resources)):
    $thumbnail = $plugins->get('thumbnail');
    $escape = $plugins->get('escapeHtml');
    $escapeAttr = $plugins->get('escapeHtmlAttr');
    $url = $plugins->get('url');
    $thumbnailUrl = $plugins->get('thumbnailUrl');

    // La classe est la même pour item-set/show item/browse.
    // $simpleRoute = $themeFunctions->simpleRoute();
    $resourceListClass = 'itemset-show-list'; // item-browse-list

    // $headingTerm = $this->siteSetting('browse_heading_property_term', 'dcterms:title');
    // $bodyTerm = $this->siteSetting('browse_body_property_term', 'dcterms:description');
    $headingTerm = null;
    $bodyTerm = null;
    $defaultThumbnailUrl = $this->assetUrl('thumbnails/default.png', 'Omeka', true);
    $defaultTitle = $translate('[Untitled]');
    $thumbnailType = 'square';

    $linkToSearchPage = (bool) $this->themeSetting('itemset_link_search_page');
    $searchMainPage = $linkToSearchPage && $this->siteSetting('search_main_page');
    $siteSlug = $site->slug();
    ?>
<ul class="itemset-show-list">
    <?php
    foreach ($resources as $resource):
        $resourceUrl = ($searchMainPage && $resource->resourceName() === 'item_sets')
            ? $url('search-page-' . $searchMainPage, ['site-slug' => $siteSlug], ['query' => ['resource' => ['id' => [$resource->id()]]]], true)
            : $resource->siteUrl($siteSlug);
        $resourceThumbnail = $thumbnailUrl($resource, $thumbnailType) ?: $defaultThumbnailUrl;
        $resourceTitle = $headingTerm ? $resource->value($headingTerm, ['default' => $defaultTitle]) : $resource->displayTitle($defaultTitle);
        $date = $resource->value('dcterms:date');
    ?>
    <li>
        <a href="<?= $resource->siteUrl($siteSlug) ?>">
            <div class="<?= $resourceListClass ?>-media">
                <img src="<?= $resourceThumbnail ?>" alt="">
            </div>
            <div>
                <div class="<?= $resourceListClass ?>-metadata"><?= $date ?></div>
                <h2><?= $resourceTitle ?></h2>
            </div>
        </a>
    </li>
    <?php  endforeach; ?>
</ul>

<?php
else:

    $resourceLabels = [
        'resources' => 'resources',
        'item_sets' => 'item sets',
        'items' => 'items',
        'media' => 'media',
        'site_pages' => 'site pages',
        'documents' => 'documents',
    ];
?>
<div class="itemset-show-list">
    <?= sprintf($translate('There is no %s for this site.'), $translate($resourceLabels[$resourceType])) ?>
</div>

<?php endif;
