<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

// TODO Utiliser pour item/browse.
// Champ de recherche de la barre de gauche.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$url = $plugins->get('url');

$params = $this->params()->fromQuery() ?: [];

$value = $this->params()->fromQuery('fulltext_search', '');
$searchValue = $escape($value);

$searchType = $this->siteSetting('search_type', 'sitewide');
$searchAction = $searchType === 'cross-site'
    ? $url('site/cross-site-search', ['action' => 'results'], true)
    : $url('site/resource', ['controller' => 'index', 'action' => 'search'], true);
?>

<form action="<?= $escapeAttr($searchAction); ?>" id="search-form">
    <input type="text" name="fulltext_search" value="<?= $escapeAttr($searchValue) ?>" placeholder="<?= $translate('Chercher') ?>" aria-label="<?= $translate('Chercher') ?>"/>
    <?php if (!empty($isItemSetShow)): ?>
    <input type="hidden" name="item_set_id" value="<?= $itemSet->id() ?>"/>
    <?php endif; ?>
    <input type="submit"><?= $translate('Chercher') ?></input>
</form>
