<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * Options:
 * @var bool $isItemSetShow
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 * @var bool $noHeading
 */

$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeFunctions = $plugins->get('ThemeFunctions');

$hasMapping = $themeFunctions->hasMappingOrMarkers();

$params = $plugins->get('params');
// $query = $params->fromQuery() ?: [];

$value = $params->fromQuery('fulltext_search', '');
$searchValue = $escape($value);

$searchType = $this->siteSetting('search_type', 'sitewide');
$searchAction = $searchType === 'cross-site'
    ? $url('site/cross-site-search', ['action' => 'results'], true)
    : $url('site/resource', ['controller' => 'index', 'action' => 'search'], true);

// TODO Search advanced standard.
$advancedForm = false;
?>

<div class="search-results-header">
    <?php if (empty($noHeading)): ?>
    <h1><?= $translate('Rechercher') ?></h1>
    <?php endif; ?>
    <div class="search-results-search-box">
        <form action="<?= $escapeAttr($searchAction) ?>" id="search-form">
            <input type="text" name="fulltext_search" value="<?= $escapeAttr($searchValue) ?>" placeholder="<?= $translate('Chercher') ?>" aria-label="<?= $translate('Chercher') ?>"/>
            <?php if (!empty($isItemSetShow)): ?>
                <input type="hidden" name="item_set_id" value="<?= $itemSet->id() ?>"/>
            <?php endif; ?>
            <input type="submit" value="<?= $translate('Chercher') ?>"/>
        </form>
        <?php if ($hasMapping): ?>
        <div class="search-results-header-buttons">
            <?php if ($hasMapping || $advancedForm): ?>
            <div class="search-by-map-button">
                <a href="#"><?= $translate('Recherche par carte') ?></a>
            </div>
            <?php endif; ?>
            <?php if ($advancedForm): ?>
            <div class="advanced-search-button">
                <a href="#"><?= $translate('Recherche avancée') ?></a>
            </div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
    </div>
</div>
