<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$escape = $plugins->get('escapeHtml');
?>

<div class="page-show content-with-padding">

    <nav class="breadcrumbs">
        <a href="/"><?= $translate('Accueil') ?></a>
        <span><?= $translate('Erreur') ?></span>
    </nav>

    <div>
        <h1><?= $translate('La bibliothèque numérique a rencontré une erreur !') ?></h1>
        <?php if (ini_get('display_errors')): ?>
        <p>
            <strong><?= $escape(get_class($this->exception)) ?></strong><br>
            <?= $escape($this->exception->getMessage()) ?>
        </p>
        <p><?= $translate('Details:') ?></p>
        <pre>
            <?= $escape($this->exception) ?>
        </pre>
        <?php else: ?>
        <p><?php
            /*
            <?= sprintf($translate('To learn how to see more detailed information about this error, see the Omeka S User Manual page on %s.'),
                '<a href="https://omeka.org/s/docs/user-manual/errorLogging/">' . $this->translate('retrieving error messages') . '</a>'
            ) ?>
            */ ?>
            Veuillez contacter l’administrateur pour davantage d’informations.
        </p>
        <?php endif; ?>
    </div>
</div>
