<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchPage
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * Options:
 * @var ?\Omeka\Api\Representation\ItemSetRepresentation $itemSet
 */

if (!isset($response) || empty($searchPage->subSetting('facet', 'facets'))) return;

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');

$facets = $response->getFacetCounts();
$activeFacets = $response->getActiveFacets();

// Don't display facet groups without facet elements.
$facets = array_filter($facets);

$displayActive = (bool) $searchPage->subSetting('facet', 'display_active', true);

$isFacetModeButton = $searchPage->subSetting('facet', 'mode') !== 'link';

$isFacetModeButton = $searchPage->subSetting('facet', 'mode') !== 'link';
$displayFacetButton = $isFacetModeButton && !empty($facets);
$displayButton = $displayFacetButton ? $searchPage->subSetting('facet', 'display_button', 'above') : 'none';

$facetActive = $plugins->get('facetActive');
$facetLabel = $plugins->get('facetLabel');
// Facet checkbox can be used in any case anyway, the js checks it.
$facetElements = $isFacetModeButton ? $plugins->get('facetCheckboxes') : $plugins->get('facetLinks');
$facetElements = $plugins->get('facetCheckboxes');
// $facetSelect = $plugins->get('facetSelect');
// $facetSelectRange = $plugins->get('facetSelectRange');

// Don't display facets for item sets when browsing an item set.
if (!empty($itemSet)) {
    unset($facets['item_set_id']);
    unset($activeFacets['item_set_id']);
}

$options = $searchPage->setting('facet') ?? [];

// "all", "used", "first", "none".
$openFacets = $this->themeSetting('list_facets_open', 'all') ?: 'all';
$allFacets = !in_array($openFacets, ['used', 'first', 'none']);
$usedFacets = $openFacets === 'used';
$firstFacet = $openFacets === 'first';
$noneFacets = $openFacets === 'none';
$statusFacets = array_fill_keys(array_keys($facets), false);
?>

    <form class="search-results-filters-and-toggle toggle-parent">

        <h2><a class="search-results-toggle-filter" href=""><?= $translate('Filtres') ?></a></h2>

        <?php if ($facets): ?>
        <a class="search-results-open-filters" href="#" data-status="<?= $allFacets ? 'opened' : 'closed' ?>" data-label-opened="<?= $translate('Replier tous les filtres') ?>" data-label-closed="<?= $translate('Déplier tous les filtres') ?>"><?= $allFacets ? $translate('Replier tous les filtres') : $translate('Déplier tous les filtres') ?></a>
        <?php endif; ?>

        <?php if ($displayActive && count($activeFacets)): ?>
        <ul class="search-results-selected-facets search-facets-selected search-facets-active">
            <?php foreach ($activeFacets as $name => $facetValues) foreach ($facetValues as $facetKey => $facetValue): ?>
            <?php $statusFacets[$name] = !empty($statusFacets[$name]) || $facetActive($name, ['value' => $facetValue, 'count' => null, 'key' => $facetKey], $options, true)['active'] ?>
            <li><?= $facetActive($name, ['value' => $facetValue, 'count' => null, 'key' => $facetKey], $options) ?></li>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>

        <?php if ($displayFacetButton): ?>
        <?= $this->hiddenInputsFromFilteredQuery(null, ['facet', 'page', 'limit', 'offset', 'per_page']) ?>
        <?php endif; ?>

        <?php if ($displayFacetButton && ($displayButton === 'above' || $displayButton === 'both')): ?>
        <div class="apply-facets apply-facets-top">
            <input id="apply-facets" type="submit" value="<?= $translate('Apply filters') ?>"/>
        </div>
        <?php endif; ?>

        <?php if (empty($facets) && empty($activeFacets)): ?>
        <p><?= $translate('No filters.') ?></p>
        <?php else: ?>
        <ul class="search-results-filters search-facets-list">
            <?php foreach ($facets as $name => $facetValues): ?>
            <li class="search-facet toggle-parent<?php if ($firstFacet): $firstFacet = false; ?> opened<?php elseif ($allFacets || ($usedFacets && $statusFacets[$name])): ?> opened<?php endif; ?>">
                <a class="toggle" href="#"><?= $translate($facetLabel($name)) ?></a>
                <?= $facetElements($name, $facetValues, $options) ?>
            </li>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>

        <?php if ($displayFacetButton && ($displayButton === 'below' || $displayButton === 'both')): ?>
        <div class="apply-facets apply-facets-bottom">
            <input id="apply-facets" type="submit" value="<?= $translate('Apply filters') ?>"/>
        </div>
        <?php endif; ?>

    </form>
