<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \AdvancedSearch\Response $response
 * @var string $resourceName
 * @var string $title
 */

$resourceNames = empty($resourceName) ? ['item_sets', 'items'] : [$resourceName];
$resources = [];
foreach ($resourceNames as $resourceName) {
    // Extract results as a whole to avoid subquery for each resource.
    $ids = array_column($response->getResults($resourceName), 'id', 'id');
    if (!count($ids)) {
        continue;
    }

    // Filter resources existing on search index, but not in Omeka, and prepare the loop.
    // The sort order is unknown, so in order to keep order of results, use the id as key
    // and use array_replace(). This process avoids to do a single read() for each result.
    $results = [];
    foreach ($this->api()->search($resourceName, ['id' => $ids])->getContent() as $resource) {
        $results[$resource->id()] = $resource;
    }
    if (!count($results)) {
        continue;
    }
    $results = array_replace(array_intersect_key($ids, $results), $results);
    $resources = array_replace($resources, $results);
}

// Prepare some methods to quick results.
$plugins = $this->getHelperPluginManager();
$url = $plugins->get('url');
$escape = $plugins->get('escapeHtml');
$assetUrl = $plugins->get('assetUrl');
$translate = $plugins->get('translate');
// $siteSetting = $plugins->get('siteSetting');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$thumbnailUrl = $plugins->get('thumbnailUrl');
$translatePlural = $plugins->get('translatePlural');
$themeFunctions = $plugins->get('ThemeFunctions');

$siteSlug = $site->slug();
// $headingTerm = $siteSetting('browse_heading_property_term', 'dcterms:title');
// $bodyTerm = $siteSetting('browse_body_property_term', 'dcterms:description');
$headingTerm = null;
$bodyTerm = null;
$defaultTitle = $translate('[Untitled]');
$defaultThumbnail = $assetUrl('thumbnails/default.png', 'Omeka', true);
$thumbnailType = 'square';

// Fields.
$labelTitle = $escape($translate('Title'));
$labelCreator = $escape($translate('Auteur'));
$labelDate = $escape($translate('Date'));
$labelCollection = $escape($translate('Collection'));
?>

<?php if (count($resources)): ?>

<ul class="itemset-show-list">
    <?php
    // La classe est la même pour item-set/show item/browse.
    // $simpleRoute = $themeFunctions->simpleRoute();
    $resourceListClass = 'itemset-show-list'; // item-browse-list

    /** @var \Omeka\Api\Representation\AbstractEntityRepresentation $resource */
    foreach ($resources as $resource):
        $resourceUrl = $resource->siteUrl($siteSlug);
        $resourceThumbnail = $thumbnailUrl($resource, $thumbnailType) ?: $defaultThumbnail;
        $resourceTitle = $headingTerm ? $resource->value($headingTerm, ['default' => $defaultTitle]) : $resource->displayTitle($defaultTitle);
        $date = $resource->value('dcterms:date');
        // $resourceBody = $bodyTerm ? $resource->value($bodyTerm) : $resource->displayDescription();
        // TODO Couleurs ? => via css.
        // $resourceCategory = $resource->value('curation:category');
        // $resourceIsNew = $resource->value('curation:newResource');

        if ($resource instanceof \Omeka\Api\Representation\ItemRepresentation):
            $itemSets = $resource->itemSets();
        elseif ($resource instanceof \Omeka\Api\Representation\MediaRepresentation):
            $itemSets = $resource->item()->itemSets();
        else:
            $itemSets = [];
        endif;

        $isResource = $resource instanceof \Omeka\Api\Representation\AbstractResourceEntityRepresentation;
        ?>
    <li>
        <a href="<?= $resource->siteUrl($siteSlug) ?>">
            <div class="<?= $resourceListClass ?>-media">
                <img src="<?= $resourceThumbnail ?>" alt="">
            </div>
            <div>
                <div class="<?= $resourceListClass ?>-metadata"><?= $date ?></div>
                <h2><?= $resourceTitle ?></h2>
            </div>
        </a>
    </li>
    <?php  endforeach; ?>
</ul>

<?php else: ?>

<div class="itemset-show-list">
    <?= sprintf($translate('There is no items for this collection or no more results to the search.')) // @translate ?>
</div>

<?php endif;
