<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\SiteRepresentation $site
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchPage
 * @var \AdvancedSearch\Query $query
 * @var \AdvancedSearch\Response $response
 * Via search:
 * @var \Omeka\Api\Representation\ItemSetRepresentation $itemSet
 * For block layout:
 * @var string $heading Unused in current template.
 * @var bool $skipFormAction Remove action of the form, so it uses current page.
 */

// Ce gabarit reprend le thème item/browse avec le module Search.
// Il est utilisé en cas de redirection de item-set/show vers la recherche (paramètres de site
// du module Search) et de l'utilisation du gabarit item/browse (paramètre su thème).

// TODO Prendre en compte les blocs.

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$translatePlural = $plugins->get('translatePlural');
$escape = $plugins->get('escapeHtml');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$assetUrl = $plugins->get('assetUrl');
$url = $plugins->get('url');
$searchingForm = $plugins->get('searchingForm');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');
$partial = $plugins->get('partial');

$api = $plugins->get('api');
$breadcrumbs = $plugins->has('breadcrumbs') ? $plugins->get('breadcrumbs') : false;

$skipFormAction = !empty($skipFormAction);

$vars = $this->vars();
$vars->offsetSet('isItemSetShow', true);
// Pour common/resource-list.
$vars->offsetSet('resourceType', 'items');

$this->htmlElement('body')->appendAttribute('class', 'item-set item resource browse');

// css and js are added to the main layout because there is a full search box in header.
?>

<div class="itemset-show content-with-padding">

    <?php if ($breadcrumbs): ?>
    <?= $breadcrumbs(['separator' => '']) ?>
    <?php else: ?>
    <nav class="breadcrumbs">
        <a href="<?= $site->url() ?>"><?= $translate('Accueil') ?></a>
        <a href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Collections') ?></a>
        <span><?= $itemSet->displayTitle() ?></span>
    </nav>
    <?php endif; ?>

    <?= $partial('omeka/site/item-set/show-head') ?>

    <?php
    $documentCount = isset($response) ? $response->getResourceTotalResults('items') : $itemSet->itemCount();
    $documentCountStr = sprintf($translatePlural('%s document', '%s documents', $documentCount), $documentCount);
    ?>

    <?php $this->trigger('view.browse.before'); ?>

    <div class="itemset-show-content-controls">
        <div class="itemset-show-back-to-itemsets">
            <a class="back-to-itemsets" href="<?= $url('site/resource', ['controller' => 'item-set', 'action' => 'browse'], true) ?>"><?= $translate('Retour aux collections') ?></a>
        </div>
        <div class="itemset-show-content-header">
            <div class="itemset-show-items-count"><?= $documentCountStr ?></div>
            <?= $pagination = (string) $this->pagination('common/pagination') ?>
            <?= $this->searchSortSelector($query, $searchPage->subSetting('sort', 'fields'), true) ?>
        </div>
    </div>

    <div class="itemset-show-content-and-filters">

        <aside>
            <?php
            // TODO Inclure filter / search.
            // TODO echo $this->searchFilters();
            ?>
            <?= $searchingForm('search/search-form-simple') ?>
            <?= $partial('search/facets', [
                'searchPage' => $searchPage,
                'query' => $query,
                'response' => $response,
                'itemSet' => $itemSet,
            ]) ?>
        </aside>

        <div class="itemset-show-content">
            <?php if ($response && $response->getResourceTotalResults('items')): ?>
                <?= $partial('search/resource-list-item-set', [
                    'site' => $site,
                    'title' => sprintf($translatePlural('%s item', '%s items', $documentCount), $documentCount),
                    'response' => $response,
                    'resourceName' => 'items',
                ]) ?>

                <div class="itemset-show-content-footer">
                    <?= $pagination ?>
                </div>

            <?php else: ?>

                <div class="noresults">
                    <?php if (empty($query)): ?>
                    <?= $translate('This item set has no items.') ?>
                    <?php else: ?>
                    <?= $translate('Your query returned no results') ?>
                    <?php endif; ?>
                </div>

            <?php endif; ?>

            <?php $this->trigger('view.browse.after'); ?>

        </div>
    </div>
</div>
