<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Laminas\Form\Form $form
 */

// Recherche principale: affiche le premier champ (le principal) du formulaire et ses champs obligatoires ou cachés.
// Les autres champs sont accessibles via les boutons inférieurs (carte et recherche avancée) et sont indépendants.
// Ces autres champs, lorsqu'ils existent, sont placés dans le bas de layout.
// Le formulaire avancé peut être appelé par d'autres blocs (page d'accueil, item/browse, etc.).

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$formElement = $plugins->get('formElement');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');

$hasMapping = $themeFunctions->hasMappingOrMarkers()
    // FIXME Module Mapping uses the same ids for show and browse, so mapping cannot be used  in the item/show pages.
    && $themeFunctions->simpleRoute() !== ['controller' => 'item', 'action' => 'show'];
$isAdvancedSearchForm = $themeFunctions->isAdvancedSearchForm($form);
$mainElement = $themeFunctions->mainElementOfSearchForm($form);
?>

<div class="header-search-menu search-box-content">
    <?= $this->form()->openTag($form) ?>
        <?= $formElement($mainElement->setAttribute('placeholder', $translate('Rechercher un document'))) ?>
        <?php if ($themeSetting('search_by_append', false)): ?>
        <span class="select-parent">
            <select name="by">
                <option value="" selected="selected"><?= $translate('Tout') ?></option>
                <option value="period"><?= $translate('Par période') ?></option>
                <option value="subject"><?= $translate('Par sujet') ?></option>
            </select>
        </span>
        <?php endif; ?>
        <?php if ($form->has('reset')): ?>
        <?= $formElement($form->get('reset')) ?>
        <?php endif; ?>
        <?php if ($form->has('submit')): ?>
        <?= $formElement($form->get('submit')) ?>
        <?php endif; ?>
    <?= $this->form()->closeTag() ?>
    <?php if ($hasMapping || $isAdvancedSearchForm): ?>
    <div class="search-box-footer">
        <?php if ($hasMapping): ?>
        <div class="search-by-map-button">
            <a href="#"><?= $translate('Recherche par carte') ?></a>
        </div>
        <?php endif; ?>
        <?php if ($isAdvancedSearchForm): ?>
        <div class="advanced-search-button">
            <a href="#"><?= $translate('Recherche avancée') ?></a>
        </div>
        <?php endif; ?>
    </div>
    <?php endif; ?>
</div>
