<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \AdvancedSearch\Form\MainSearchForm $form
 */

// Le formulaire est ajouté si le formulaire principal est un formulaire avancé.

// TODO Ajouter le même formulaire pour la recherche standard avancée (cf. common/advanced-search-form).

$plugins = $this->getHelperPluginManager();
$translate = $plugins->get('translate');
$themeFunctions = $plugins->get('ThemeFunctions');

$formRow = $plugins->get('formRow');
$formLabel = $plugins->get('formLabel');
$formSelect = $plugins->get('formSelect');
$formButton = $plugins->get('formButton');
$formHidden = $plugins->get('formHidden');
$formSearch = $plugins->get('formSearch');
$formElement = $plugins->get('formElement');
$formCollection = $plugins->get('formCollection');

$site = $themeFunctions->currentSite();

$params = $this->params()->fromQuery() ?: [];
$form
    ->setData($params)
    ->prepare();

// Le thème ne permet pas de créer facilement de manière automatique en fonction des paramètres
// le rendu html car dans le gabarit par défaut, "collections" et "classes" sont regroupés et il y a un
// champ de filtre supplémentaire pour les mots clés. Ce dernier est géré automatiquement dans la
// dernière version de Search.

// N'utilise pas l'itérateur, seuls les éléments principaux sont modifiés.
foreach ($form as $name => $element) switch ($name):
    case 'q':
        $element
            ->setLabel('Recherche par mots-clés')
            ->setAttribute('class', trim($element->getAttribute('class') . ' advanced-search-text-input'))
            ->setAttribute('placeholder', 'Recherche…');
        break;
    case 'submit':
        $element
            ->setLabel('Rechercher')
            ->setValue('Rechercher');
        break;
    case 'item_set':
        $element->get('id')
            ->setLabel('Rechercher par collection')
            ->setOption('empty_option', '')
            ->setOption('prepend_value_options', ['' => 'Toutes les collections'])
            ->setAttribute('data-placeholder', $translate('Choisir les collections'));
        break;
    case 'class':
        // value_options de resourceClass ne sont pas modifiables.
        // Les valeurs ajoutées vides ne servent pas avec chosen-select.
        // Le formulaire ne doit pas avoir été préparé (headroom?).
        $element->get('id')
            ->setLabel('Rechercher par type de document')
            ->setOption('empty_option', '')
            ->setOption('prepend_value_options', ['' => 'Tous les types de document'])
            ->setAttribute('data-placeholder', $translate('Choisir les types de document'));
        break;
    case 'template':
        $element->get('id')
            ->setLabel('Rechercher par type de ressource')
            ->setOption('empty_option', '')
            ->setOption('prepend_value_options', ['' => 'Tous les types de ressource'])
            ->setAttribute('data-placeholder', $translate('Choisir les types de ressource'));
        break;
    default:
        break;
endswitch;

// Prépare les labels et attributs spécifiques au thème.
$form
    ->setAttribute('class', trim($form->getAttribute('class') . ' advanced-search-form'))
    ->prepare();

// Pour gérer la double colonne dans une div.
$hasElementItemSet = $form->has('item_set');
$hasElementResourceClass = $form->has('class');

// Implémentation rapide des filtres.
$filtersReplace = [
    '<fieldset class="filter">' => '',
    '</fieldset>' => '',
    '<select ' => '<div class="select-parent"><select ',
    '</select>' => '</select></div>',
];
?>

<div class="advanced-search-popup search-popup is-popup">
    <div class="popup-scroll-content">
        <div class="advanced-search-popup-content is-popup-content">
            <div class="advanced-search-header search-popup-header">
                <div class="advanced-search-close search-popup-close">
                        <a href="#"><?= $translate('Close') ?></a>
                </div>
                <h1><?= sprintf($translate('Recherche %savancée%s'), '<span>', '</span>') ?></h1>
            </div>
            <?= $this->form()->openTag($form) ?>

                <div class="field search-by-keyword">
                    <?php $element = $form->get('q'); ?>
                    <?= $formLabel($element) ?>
                    <?= $formSearch($element) ?>
                </div>

                <?php if ($form->has('filter')): ?>
                <label class="with-border-top"><?= $translate('Restreindre à des champs') ?></label>
                <ul class="search-filters">
                    <?php foreach ($form->get('filter') as $elements): ?>
                        <li class="search-filter">
                            <?= str_replace(array_keys($filtersReplace), array_values($filtersReplace), $formCollection($elements)) ?>
                            <a href="#" class="advanced-search-remove-filter"></a>
                        </li>
                    <?php endforeach; ?>
                </ul>
                <div class="advanced-search-more">
                    <a href="#"></a>
                </div>
                <?php endif; ?>

                <?php if ($hasElementItemSet || $hasElementResourceClass): ?>
                <div class="<?= $hasElementItemSet || $hasElementResourceClass ? 'two-fields ' : 'field' ?>with-border-top select-multi">
                    <?php if ($hasElementItemSet):
                    $element = $form->get('item_set')->get('id'); ?>
                    <div class="field">
                        <?= $formLabel($element) ?>
                        <div class="select-parent">
                            <?= $formSelect($element) ?>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if ($hasElementResourceClass):
                        $element = $form->get('class')->get('id'); ?>
                    <div class="field">
                        <?= $formLabel($element) ?>
                        <div class="select-parent">
                            <?= $formSelect($element) ?>
                        </div>
                    </div>
                    <?php endif; ?>
                </div>
                <?php endif; ?>

                <?php if ($form->has('template')):
                    $element = $form->get('template')->get('id'); ?>
                <div class="field select-multi">
                    <?= $formLabel($element) ?>
                    <div class="select-parent">
                        <?= $formSelect($element) ?>
                    </div>
                </div>
                <?php endif; ?>

                <div class="field search-by-hashtag">
                    <label><?= $translate('Rechercher par #') ?></label>
                    <input type="hidden" name="text[filters][999][join]" value="and"/>
                    <input type="hidden" name="text[filters][999][field]" value="dcterms_subject_ss"/>
                    <input type="hidden" name="text[filters][999][type]" value="eq"/>
                    <input type="text" name="text[filters][999][value]"/>
                </div>

                <?php if ($form->has('reset')): ?>
                <div class="field search-reset-button">
                    <?= $formButton($form->get('reset')) ?>
                </div>
                <?php endif; ?>

                <?php if ($form->has('submit')): ?>
                <div class="field search-submit-button">
                    <?= $formButton($form->get('submit')) ?>
                </div>
                <?php endif; ?>

                <?php
                foreach ($form->getElements() as $element):
                    if ($element instanceof \Laminas\Form\Element\Csrf || $element instanceof \Laminas\Form\Element\Hidden):
                        echo $formHidden($element);
                    endif;
                endforeach;
                ?>
            <?= $this->form()->closeTag() ?>
        </div>
    </div>
</div>
